<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/artices/list'>Articles</a></li>
    <li class="breadcrumb-item">edit</li>
</ol>
<h1 class="display-4">Edit Articles</h1>
<form action="/artices/update/<%= article.id %>" method="post">
    <div class="form-group">
        <label for="title" >title</label>
        <input type="text" name="title"  value='<%= article.title %>' class="form-control">
    </div>
    <div class="form-group">
            <label for="title" >body</label>
            <input type="text" name="body" value='<%= article.body %>' class="form-control">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>